.portfolio-item {
  max-width: 23rem;
}

.portfolio__text {
  margin-bottom: 0;
}

.portfolio__title {
  margin-top: 0.8rem;
}

.portfolio-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 3rem;
}

.portfolio__item {
  flex-basis: 23rem;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
  overflow: hidden;
}

.portfolio__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

/* Responsive Portfolio */
@media screen and (max-width: 1200px) {
  .portfolio__item {
    max-width: 18rem;
  }

  .newsletter__text {
    line-height: 1.6;
  }
}

@media screen and (max-width: 992px) {
  .portfolio__item {
    max-width: 20rem;
  }
}

@media screen and (max-width: 768px) {
  .portfolio__item {
    max-width: 15rem;
  }
}
@media screen and (max-width: 576px) {
  .portfolio__title {
    line-height: 1.6;
  }

  .portfolio__item {
    max-width: 100%;
  }
}
